
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/* ==========================================================================
   Table
   ========================================================================== */

table {
  text-align: center;
}
table td.td0{
    width: 200px;
}
table td.td1{
    width: 300px; 
    text-align: left;
} 
table td.td2{
    width: 100px; 
}



